<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zohar Photography</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="shortcut" type="image/png" href="img/camera-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="intro">
        <nav>
            <a href="#" id="menu-icon"></a>
            <ul>
                <li><a href="#about">About me</a></li>
                <li><a href="#port">Portfolio</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </nav>
        <div class="inner">
            <div class="content">
                <h1>Zohar Photography</h1>
                <a>My Pictures</a>
            </div>
        </div>
    </section>
    <a name="about">
    <div class="clearfix"></div>
        <section class="left-col">
            <h2>About me</h2>
            <p style="text-indent: 4%;">I am grateful for my opportunity to create and photograph the things I love and to show everyone my love for photography.
                I aspiring my creation from things that are important to me in terms of the beauty of life and the creation of the Creator.
                אני מודה על ההזדמנות שלי ליצור ולצלם את הדברים שאני אוהבת ולהראות לכולם את אהבה שלי לצילום.
אני שואפת את היצירה שלי מדברים שהם חשובים לי מבחינת יופי של החיים ויצירת הבורא
            </p>
        </section>
        <section class="sidebar">
            <img src="https://i.imagesup.co/images2/25ebd223889b9057102baf7b7d00db30c92a3a4f.png">
        </section>
    <div class="clearfix"></div>
    <a name="port">
        <h2>My portfolio</h2>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/2cdf11812766ec8c8618af5f8fa7db677c43bd34.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/2cdf11812766ec8c8618af5f8fa7db677c43bd34.jpg"></a>
        </section>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/a8a83501c822a5a46505eed677999a365ee33b25.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/a8a83501c822a5a46505eed677999a365ee33b25.jpg"></a>
        </section>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/33102a6376d6bc3753df8c28981fe9c1b568d34a.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/33102a6376d6bc3753df8c28981fe9c1b568d34a.jpg"></a>
        </section>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/3aa485737a02021ea92bae581f48d416f200890b.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/3aa485737a02021ea92bae581f48d416f200890b.jpg"></a>
        </section>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/e2af1f8cd33a5c3489835ec439c85a67969dcf70.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/e2af1f8cd33a5c3489835ec439c85a67969dcf70.jpg"></a>
        </section>
        <section class="one-third-port">
            <a href="https://i.imagesup.co/images2/e7947cee871fe460c0955c339896f477587ebb8b.jpg" target=
                "_blank"><img src="https://i.imagesup.co/images2/e7947cee871fe460c0955c339896f477587ebb8b.jpg"></a>
        </section>
    <div class="clearfix"></div>
        <a name="contact">
            <section class="parallax">
                <div class="parallax-inner"></div>
            </section>
    <div class="clearfix"></div>
            <h2>Contact Me</h2>
            <section class="contact">
                <p>Zohar Hajaj</p>
            </section>
    <div class="clearfix"></div>
        <footer>
            <ul class="social">
                <li><a href="https://www.facebook.com/zohar.hajaj" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="mailto:zohary469@gmail.com" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a href="tel:052-387-9425" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
        </footer>
        <footer class="second">
            <p>&copy; Zohar Photography.</p>
        </footer>
    </body>
</html>